# folders
cache
downloads
logs
saves
screenshots
crash-reports
journeymap
local

# files
*.curseclient
options.txt
usercache.json
usernamecache.json
crafttweaker.log
minecraftinstance.json
bookmarks.ini
config/jei/itemBlacklist.cfg
config/jei/jei.cfg
config/jei/searchColors.cfg
config/jei/worldSettings.cfg
config/gregtech/terminal/ore_prospector
backups